
@media (min-width : 994px){  
    /* .buscar{
        width:130px; 
        font-size: 13px;
        } */
}

.texto{
    color: white;
    font-weight: bold;
}

@media (max-width : 991px){  
    
    .texto{
        border-radius: 25px;
        border: 2px solid #ffff ;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    
}


.preto{
    background-color: black;
}



.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.custom-toggler.navbar-toggler {
    border-color: white;
  } 

