    <div class="container-fluid PD pb-5 bg-black1">

        <div class="col-md-12 row">

          <div data-aos="fade-right" class="col-md-4">
            <p class="align-text-bottom ricardo" id="home"> Ricardo <br>Alcantara </p>
          </div>
  
          <div class="col-md-7 d-flex align-items-center justify-content-center pb-4">
            
              <video class="videodj" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
              <source src="https://i.imgur.com/4fI4eL6.mp4" type="video/mp4">
              </video>
              </div>
          </div>
      </div>
  
      

      <section class="cinza" id="sobre">
        <div class="container pt-5 pb-4">
          <article class="postcard dark blue" data-aos="flip-left" data-aos-easing="ease-out-cubic"
          data-aos-duration="1500">
            <div class="postcard__text">
              <h1 class="postcard__title blue" ><a href="#">Sobre</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt"><p> DJ há mais de 20 anos, o morador do pazzine iniciou sua carreira dentro do cenário black music com a criação da rádio vox, onde ficou até 2005.
                Com uma coleção de mais de 3.000 LP 's, Ricardo tem como especialidade o samba rock, o flash back e a melodia, mas também passeia pelo hip hop, rap e acid jazz contemporâneo.
                Hoje o DJ faz parte da equipe do musicália, tradicional baile black de sp, além de se apresentar semanalmente no programa ao vivo vinil em movimento e marcar presença também em diversos outros espaços blacks de sp.</p>
                </div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play blue">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          
        </div>
      </section>






      <section class="dark">
        <div class="container py-4">
          <h1 data-aos="fade-up-right" class="h1 text-center text-white" id="pageHeaderTitle">Eventos</h1>
          <article class="postcard dark blue" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />
            </a>
            <div class="postcard__text">
              <h1 class="postcard__title blue"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play blue">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard dark red" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
            </a>
            <div class="postcard__text">
              <h1 class="postcard__title red"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play red">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard dark green" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
            </a>
            <div class="postcard__text">
              <h1 class="postcard__title green"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play green">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard dark yellow" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
            </a>
            <div class="postcard__text">
              <h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play yellow">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>
      





      <section class="light">
        <div class="container py-2">
          <div data-aos="fade-up-right" class="h1 text-center text-dark" id="pageHeaderTitle">Equipe</div>
          <article class="postcard light blue" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play blue">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard light red" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title red"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play red">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard light green" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title green"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play green">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard light yellow" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play yellow">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>









    
      
      

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a  href="#home" data-dismiss="modal">ola</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>