@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");


.ricardo {
    font-size: 50px;
    font-weight: 500;
    color: white;

    padding: 0 20px;
    border-left: 1px solid #f0f0f0;
    display: grid;
    position: relative;
    grid-template-rows: repeat(6, min-content);
    grid-gap: 20px;
}

.PD{
	padding-top: 8%;
}

.bg-black1{ 
	background-color: black;
}

/* Celular */
@media (max-width : 425px) {  
	.PD{
		padding-top: 30%;
	}

	.videodj{
    padding-top: 20%;
    padding-left: 33px;
    width: 49vh;
    }
}

/* Tablet */
@media (min-width : 426px) and (max-width : 770px) {   
    .videodj{
        padding-left: 90px;
        width: 80vh;
        }
}

/* Laptop */
@media (min-width : 771px) and (max-width : 1024px) {  
    .videodj{
        padding-left: 90px;
        width: 100vh;
        }
}


/* Computador */
@media (min-width : 1025px){  
    .videodj{
        width: 130vh;
        }
}

.fonte{
	font-family: "Baloo 2", cursive;
}




/* This pen */
 body {
	 font-family: "Baloo 2", cursive;
	 font-size: 16px;
	 color: #fff;
	 text-rendering: optimizeLegibility;
	 font-weight: initial;
}
 .dark {
	 background: #110f16;
}
 .light {
	 background: #f3f5f7;
}
.cinza {
	background: rgb(50, 50, 54);
}
 a, a:hover {
	 text-decoration: none;
	 transition: color 0.3s ease-in-out;
}
 #pageHeaderTitle {
	 margin: 2rem 0;
	 text-transform: uppercase;
	 text-align: center;
	 font-size: 2.5rem;
}
/* Cards */
 .postcard {
	 flex-wrap: wrap;
	 display: flex;
	 box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
	 border-radius: 10px;
	 margin: 0 0 2rem 0;
	 overflow: hidden;
	 position: relative;
	 color: #fff;
}
 .postcard.dark {
	 background-color: #18151f;
}
 .postcard.light {
	 background-color: #e1e5ea;
}
 .postcard .t-dark {
	 color: #18151f;
}
 .postcard a {
	 color: inherit;
}
 .postcard h1, .postcard .h1 {
	 margin-bottom: 0.5rem;
	 font-weight: 500;
	 line-height: 1.2;
}
 .postcard .small {
	 font-size: 80%;
}
 .postcard .postcard__title {
	 font-size: 1.75rem;
}
 .postcard .postcard__img {
	 max-height: 180px;
	 width: 100%;
	 object-fit: cover;
	 position: relative;
}
 .postcard .postcard__img_link {
	 display: contents;
}
 .postcard .postcard__bar {
	 width: 50px;
	 height: 10px;
	 margin: 10px 0;
	 border-radius: 5px;
	 background-color: #424242;
	 transition: width 0.2s ease;
}
 .postcard .postcard__text {
	 padding: 1.5rem;
	 position: relative;
	 display: flex;
	 flex-direction: column;
}
 .postcard .postcard__preview-txt {
	 overflow: hidden;
	 text-overflow: ellipsis;
	 text-align: justify;
	 height: 100%;
}
 .postcard .postcard__tagbox {
	 display: flex;
	 flex-flow: row wrap;
	 font-size: 14px;
	 margin: 20px 0 0 0;
	 padding: 0;
	 justify-content: center;
}
 .postcard .postcard__tagbox .tag__item {
	 display: inline-block;
	 background: rgba(83, 83, 83, 0.4);
	 border-radius: 3px;
	 padding: 2.5px 10px;
	 margin: 0 5px 5px 0;
	 cursor: default;
	 user-select: none;
	 transition: background-color 0.3s;
}
 .postcard .postcard__tagbox .tag__item:hover {
	 background: rgba(83, 83, 83, 0.8);
}
 .postcard:before {
	 content: "";
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 background-image: linear-gradient(-70deg, #424242, transparent 50%);
	 opacity: 1;
	 border-radius: 10px;
}
 .postcard:hover .postcard__bar {
	 width: 100px;
}
 @media screen and (min-width: 769px) {
	 .postcard {
		 flex-wrap: inherit;
	}
	 .postcard .postcard__title {
		 font-size: 2rem;
	}
	 .postcard .postcard__tagbox {
		 justify-content: start;
	}
	 .postcard .postcard__img {
		 max-width: 300px;
		 max-height: 100%;
		 transition: transform 0.3s ease;
	}
	 .postcard .postcard__text {
		 padding: 3rem;
		 width: 100%;
	}
	 .postcard .media.postcard__text:before {
		 content: "";
		 position: absolute;
		 display: block;
		 background: #18151f;
		 top: -20%;
		 height: 130%;
		 width: 55px;
	}
	 .postcard:hover .postcard__img {
		 transform: scale(1.1);
	}
	 .postcard:nth-child(2n+1) {
		 flex-direction: row;
	}
	 .postcard:nth-child(2n+0) {
		 flex-direction: row-reverse;
	}
	 .postcard:nth-child(2n+1) .postcard__text::before {
		 left: -12px !important;
		 transform: rotate(4deg);
	}
	 .postcard:nth-child(2n+0) .postcard__text::before {
		 right: -12px !important;
		 transform: rotate(-4deg);
	}
}
 @media screen and (min-width: 1024px) {
	 .postcard__text {
		 padding: 2rem 3.5rem;
	}
	 .postcard__text:before {
		 content: "";
		 position: absolute;
		 display: block;
		 top: -20%;
		 height: 130%;
		 width: 55px;
	}
	 .postcard.dark .postcard__text:before {
		 background: #18151f;
	}
	 .postcard.light .postcard__text:before {
		 background: #e1e5ea;
	}
}
/* COLORS */
 .postcard .postcard__tagbox .green.play:hover {
	 background: #79dd09;
	 color: black;
}
 .green .postcard__title:hover {
	 color: #79dd09;
}
 .green .postcard__bar {
	 background-color: #79dd09;
}
 .green::before {
	 background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}
 .green:nth-child(2n)::before {
	 background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}
 .postcard .postcard__tagbox .blue.play:hover {
	 background: #0076bd;
}
 .blue .postcard__title:hover {
	 color: #0076bd;
}
 .blue .postcard__bar {
	 background-color: #0076bd;
}
 .blue::before {
	 background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
 .blue:nth-child(2n)::before {
	 background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
 .postcard .postcard__tagbox .red.play:hover {
	 background: #bd150b;
}
 .red .postcard__title:hover {
	 color: #bd150b;
}
 .red .postcard__bar {
	 background-color: #bd150b;
}
 .red::before {
	 background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}
 .red:nth-child(2n)::before {
	 background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}
 .postcard .postcard__tagbox .yellow.play:hover {
	 background: #bdbb49;
	 color: black;
}
 .yellow .postcard__title:hover {
	 color: #bdbb49;
}
 .yellow .postcard__bar {
	 background-color: #bdbb49;
}
 .yellow::before {
	 background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}
 .yellow:nth-child(2n)::before {
	 background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}
 @media screen and (min-width: 769px) {
	 .green::before {
		 background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
	}
	 .green:nth-child(2n)::before {
		 background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
	}
	 .blue::before {
		 background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
	}
	 .blue:nth-child(2n)::before {
		 background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
	}
	 .red::before {
		 background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
	}
	 .red:nth-child(2n)::before {
		 background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
	}
	 .yellow::before {
		 background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
	}
	 .yellow:nth-child(2n)::before {
		 background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
	}
}
 




















 #burger-toggle {
	 position: absolute;
	 appearance: none;
	 opacity: 0;
}
 #burger-toggle:checked ~ .menu {
	 opacity: 1;
	 visibility: visible;
}
 #burger-toggle:checked ~ .menu .menu-nav-link span div, #burger-toggle:checked ~ .menu img, #burger-toggle:checked ~ .menu .title p {
	 transform: translateY(0);
	 transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
 #burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
	 transition-delay: 0.18s;
}
 #burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
	 transition-delay: 0.26s;
}
 #burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
	 transition-delay: 0.34s;
}
 #burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
	 transition-delay: 0.42s;
}
 #burger-toggle:checked ~ .burger-menu .line::after {
	 transform: translateX(0);
}
 #burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
	 transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
 #burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
	 transform: scaleX(0);
}
 #burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
	 transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}
 .burger-menu {
	 --burger-menu-radius: 4em;
	 position: fixed;
	 top: 5vh;
	 right: 2vw;
	 z-index: 100;
	 display: block;
	 width: var(--burger-menu-radius);
	 height: var(--burger-menu-radius);
	 outline: none;
	 cursor: pointer;
}
 .burger-menu .line {
	 position: absolute;
	 left: 25%;
	 width: 50%;
	 height: 3px;
	 background: #0076bd;
	 border-radius: 10px;
	 overflow: hidden;
	 transition: 0.5s;
}
 .burger-menu .line:nth-child(1) {
	 top: 30%;
}
 .burger-menu .line:nth-child(2) {
	 top: 50%;
}
 .burger-menu .line:nth-child(3) {
	 top: 70%;
}
 .burger-menu .line::after {
	 position: absolute;
	 content: "";
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: var(--primary-color-darker);
	 transform: translateX(-100%);
	 transition: 0.25s;
}
 .burger-menu .line:nth-child(2)::after {
	 transition-delay: 0.1s;
}
 .burger-menu .line:nth-child(3)::after {
	 transition-delay: 0.2s;
}
 .burger-menu:hover .line::after {
	 transform: translateX(0);
}
 .menu {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background: rgb(50, 50, 54);
	 opacity: 0;
	 overflow-x: hidden;
	 visibility: hidden;
	 transition: 0.3s;
}
 @media screen and (max-width: 750px) {
	 .menu {
		 display: block;
	}
}
 .menu-nav {
	 display: flex;
	 flex-wrap: wrap;
	 margin: 0;
	 padding: 0;
	 text-align: center;
	 list-style-type: none;
}
 @media screen and (max-width: 750px) {
	 .menu-nav {
		 flex-direction: column;
	}
}
 .menu-nav-item {
	 flex: 1;
}
 .menu-nav-link {
	 position: relative;
	 display: inline-flex;
	 font-size: 2rem;
	 color: white;
	 text-decoration: none;
}
 .menu-nav-link span {
	 overflow: 100000px;
}
 .menu-nav-link span div {
	 transform: translateY(102%);
}
 .menu-nav-link::after {
	 position: absolute;
	 content: "";
	 top: 100%;
	 left: 0;
	 width: 100%;
	 height: 3px;
	 background: var(--primary-color);
	 transform: scaleX(0);
	 transform-origin: right;
	 transition: transform 0.5s;
}
 .menu-nav-link:hover::after {
	 transform: scaleX(1);
	 transform-origin: left;
}
 .menu .gallery {
	 margin-top: 60px;
	 text-align: center;
}
 .menu .title {
	 font-size: 24px;
	 color: white;
	 overflow: hidden;
}
 .menu .title p {
	 font-size: 12px;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 transform: translateY(102%);
}
 .menu .images {
	 margin-top: 36px;
	 display: flex;
	 flex-wrap: wrap;
}
 @media screen and (max-width: 780px) {
	 .menu .images {
		 justify-content: center;
	}
}
 .menu .images .image-link {
	width: hidden;
	height: hidden;
	padding: 10px;
	 overflow: hidden;
}
 @media screen and (max-width: 780px) {
	 .menu .images .image-link {
		width: 60vw;
		height: 30vw;
		padding: 2px;
		
	}
}
 .menu .images .image-link .image {
	 position: relative;
	 transition: 0.6s;
}
 .menu .images .image-link .image::before {
	 position: absolute;
	 content: attr(data-label);
	 top: 0;
	 left: 0;
	 z-index: 1;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 100%;
	 height: 100%;
	 color: white;
	 background: rgb(50, 50, 54);
	 opacity: 0;
	 transition: 0.4s;
}
 .menu .images .image-link:hover .image {
	 transform: scale(1.2);
}
 .menu .images .image-link:hover .image::before {
	 opacity: 1;
}
 .menu .images img {
	 height: 200px;
	 transform: translateY(102%);
}
