    <div class="container-fluid pt-5 pb-5">

        <div class="col-md-12 row">

          <div data-aos="fade-right" data-aos-duration="2500" class="col-md-4 ">
            <p class="align-text-bottom ricardo"> Ricardo <br>Alcantara </p>
          </div>
  
          <div class="col-md-7 d-flex align-items-center justify-content-center pb-4">
            
              <video class="videodj" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
              <source src="https://i.imgur.com/4fI4eL6.mp4" type="video/mp4">
              </video>
              </div>
          </div>
      </div>




      <section class="dark">
        <div class="container py-4">
          <h1 data-aos="fade-up-right" class="h1 text-center text-white" id="pageHeaderTitle">Eventos</h1>
          <article class="postcard dark blue" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="center-bottom" data-aos-anchor-placement="center-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://i.imgur.com/J1eEUJH.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
              <h1 class="postcard__title blue"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play blue">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard dark red" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
            </a>
            <div class="postcard__text">
              <h1 class="postcard__title red"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play red">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard dark green" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
            </a>
            <div class="postcard__text">
              <h1 class="postcard__title green"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play green">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard dark yellow" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
            </a>
            <div class="postcard__text">
              <h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play yellow">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>
      
      <section class="light">
        <div class="container py-2">
          <div data-aos="fade-up-right" class="h1 text-center text-dark" id="pageHeaderTitle">Equipe</div>
      
          <article class="postcard light blue" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play blue">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard light red" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title red"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play red">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard light green" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title green"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play green">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard light yellow" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                <li class="tag__item play yellow">
                  <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>

    
