.ricardo {
    font-size: 50px;
    font-weight: 500;
    color: white;

    padding: 0 20px;
    border-left: 1px solid #f0f0f0;
    display: grid;
    position: relative;
    grid-template-rows: repeat(6, min-content);
    grid-gap: 20px;
}



/* Celular */
@media (max-width : 425px) {  
.videodj{
    padding-top: 20%;
    padding-left: 33px;
    width: 49vh;
    }
}

/* Tablet */
@media (min-width : 426px) and (max-width : 770px) {   
    .videodj{
        padding-left: 90px;
        width: 80vh;
        }
}

/* Laptop */
@media (min-width : 771px) and (max-width : 1024px) {  
    .videodj{
        padding-left: 90px;
        width: 100vh;
        }
}


/* Computador */
@media (min-width : 1025px){  
    .videodj{
        width: 130vh;
        }
}






